.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.jar
!**/src/**/*.jar
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*~
.project
.classpath
.settings/
bin/
out/
run/
logs/
*.log
config/
.DS_Store
Thumbs.db
*.class
*.tmp
*.bak
